@*TEAM INDEX (SEARCH GRID)*@

@using Kendo.Mvc.UI;
@using WebUI.ViewModels;


<legend>Teams</legend>

@section Breadcrumb
{
    <div class="breadcrumbs" id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="icon-home home-icon"></i>
                <a href="/Home">Home</a>

                <span class="divider">
                    <i class="icon-angle-right arrow-icon"></i>
                </span>
            </li>

            <li class="active">Teams</li>

        </ul>

        <div class="nav-search" id="nav-search">
            <form class="form-search">
                <span class="input-icon">
                    <input type="text" placeholder="Search ..." class="input-small nav-search-input" id="nav-search-input" autocomplete="off" />
                    <i class="icon-search nav-search-icon"></i>
                </span>
            </form>
        </div>
    </div>
}

<div class="span6">

    @(Html.Kendo().Grid<WebUI.ViewModels.Group.GroupSearch>()
        .Name("grid")
        .Events(e =>
            {
                e.Change("showDetails");
                e.DataBound("dataBound");
            }
        )
        .DataSource(d => d
            .Ajax()
            .Model(model =>
                {
                    model.Id(x => x.GroupID);
                }
            )
            .Read(r => r.Action("Read", "Team"))
        )
        .Columns(c =>
            {
                c.Bound(x => x.GroupID).Hidden();
                c.Bound(x => x.Name).Title("Team Name");
                c.Bound(x => x.Description).Title("Notes").Filterable(false);
            }
        )
        .Pageable()
        .Sortable()
        .Selectable()
        .Filterable()
        .ClientDetailTemplateId("GroupMembers")
    )

    <button class="btn btn-app btn-grey btn-mini radius-4" id="btnNew" name="button" value="add">
        <i class="icon-plus-sign"></i>
        New
    </button>

    <button class="btn btn-app btn-primary btn-mini radius-4" id="btnEdit" name="button" value="edit">
        <i class="icon-edit bigger-230"></i>
        Edit
    </button>

    <form id="deleteForm" class="inline">
        @Html.AntiForgeryToken()
        <button class="btn btn-app btn-danger btn-mini radius-4 move_to" id="btnDelete" name="button" value="delete">
            <i class="icon-trash bigger-160"></i>
            Delete
        </button>
    </form>

</div>   @*Grid and Buttons*@

<div class="span4">
    <p class="lead">Widgets Here</p>
</div>   @*Widgets*@

<script id="GroupMembers" type="text/kendo-tmpl">
    @(Html.Kendo().Grid<WebUI.ViewModels.Group.GroupMember_Grid>()
            .Name("groupMembers_#=GroupID#")
            .Columns(c =>
            {
                c.Bound(m => m.GroupID).Hidden();
                c.Bound(m => m.PersonID).Hidden();
                c.Bound(m => m.FirstName).Title("First Name");
                c.Bound(m => m.LastName).Title("Last Name");
                c.Bound(m => m.CurrentAge).Title("Age").Width(10);
                c.Bound(m => m.MemberType).Title("Relationship");
            })
            .DataSource(dataSource => dataSource
                .Ajax()
                .PageSize(5)
                        .Read(read => read.Action("GroupMembers_Grid", "Team", new { groupID = "#=GroupID#" }))
            )
            .Sortable()
            .ToClientTemplate()
    )
</script>

<script>
    var controller = 'Team';

    function dataBound() {
        console.log("Fired dataBound function")
        this.expandRow(this.tbody.find("tr.k-master-row").first());

        var collapsed = {};

        //collapses rows not selected
        var grid = $(this).data("tGrid");

        console.log("Fired grid collapse function")

        //handle clicking of the toggle icon
        $(this).find(".t-grouping-row .t-icon").click(function (e) {
            // find the current table row (TR)
            var tr = $(this).closest("tr");

            // get the group text
            var group = tr.text();

            if ($(this).is(".t-collapse")) {
                // If the icon is collapse - mark the group as collapse
                collapsed[group] = true;
            }
            else {
                // otherwise remove it from the list of collapsed groups
                delete collapsed[group];
            }
        })

        // collapse all collapsed groups
        for (var group in collapsed) {
            var tr = $(this).find(".t-grouping-row:contains(" + group + ")");
            grid.collapseGroup(tr);
        }
    }

</script>



@section Scripts
{
    <script src="~/Scripts/date-time/moment.min.js"></script>
    <script src="~/Scripts/custom/pr-date.js"></script>
    <script src="~/Scripts/custom/handle-grid-btn-events.js"></script>
}










