<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://prchurch.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>waws-prod-blu-003.publish.azurewebsites.windows.net:443</MSDeployServiceURL>
    <DeployIisAppPath>prchurch</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>cheefgeek</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="WebUI.Models.UsersContext, WebUI" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="PREntities" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:krrlz29eya.database.windows.net,1433;Initial Catalog=prchurch621;Integrated Security=False;User ID=cheefgeek@krrlz29eya;Password={your_password_here};Connect Timeout=30;Encrypt=True" Name="Server=tcp:krrlz29eya.database.windows.net,1433;Database=prchurch621;User ID=cheefgeek@krrlz29eya;Password={your_password_here};Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="PlumRunModel.PREntities, PlumRunModel" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)PREntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/PRModel.csdl|res://*/PRModel.ssdl|res://*/PRModel.msl;provider=System.Data.SqlClient;provider connection string="Server=tcp:krrlz29eya.database.windows.net,1433;Database=prchurch621;User ID=cheefgeek@krrlz29eya;Password={your_password_here};Trusted_Connection=False;Encrypt=True;Connection Timeout=30;"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="DefaultConnection" />
  </ItemGroup>
</Project>