@*@using Kendo.Mvc.Grid.CRUD.Models;*@
@using Kendo.Mvc.UI;
@using WebUI.ViewModels;


<legend>Households</legend>

@section Breadcrumb
{
<div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="icon-home home-icon"></i>
            <a href="/Home">Home</a>

            <span class="divider">
                <i class="icon-angle-right arrow-icon"></i>
            </span>
        </li>

        <li class="active">Households</li>

    </ul>

    <div class="nav-search" id="nav-search">
        <form class="form-search">
            <span class="input-icon">
                <input type="text" placeholder="Search ..." class="input-small nav-search-input" id="nav-search-input" autocomplete="off" />
                <i class="icon-search nav-search-icon"></i>
            </span>
        </form>
    </div>
</div>
}

<div class="span6">

    @(Html.Kendo().Grid<WebUI.ViewModels.Group.GroupSearch>()
        .Name("grid")
        .Events(e => e.Change("showDetails"))
      .DataSource(d => d
            .Ajax()
            .Model(model =>
                {
                    model.Id(g => g.GroupID);
                }
            )
            .Read(r => r.Action("Read", "Household"))
        )
        .Columns(c =>
                {
                    c.Bound(g => g.GroupID).Hidden();
                    c.Bound(g => g.Name).Title("Family Name");
                    c.Bound(g => g.Description).Title("Notes");
                    c.Bound(g => g.Address);
                    c.Bound(g => g.City);
                    c.Bound(g => g.State).Width(10);
                }
        )
        .Pageable()
        .Sortable()
        .Selectable()
        .ClientDetailTemplateId("GroupMembers")
    )

    <button class="btn btn-app btn-grey btn-mini radius-4" id="btnNew" name="button" value="add">
        <i class="icon-plus-sign"></i>
        New
    </button>

    <button class="btn btn-app btn-primary btn-mini radius-4" id="btnEdit" name="button" value="edit">
        <i class="icon-edit bigger-230"></i>
        Edit
    </button>

    <form id="deleteForm" class="inline">
        @Html.AntiForgeryToken()
        <button class="btn btn-app btn-danger btn-mini radius-4 move_to" id="btnDelete" name="button" value="delete">
            <i class="icon-trash bigger-160"></i>
            Delete
        </button>
    </form>

</div>   @*Grid and Buttons*@

<div class="span4">
    <p class="lead">Widgets Here</p>
</div>   @*Widgets*@




<script id="GroupMembers" type="text/kendo-tmpl">
    @(Html.Kendo().Grid<WebUI.ViewModels.Group.GroupMember_Grid>()
            .Name("grid_#=EmployeeID#")
            .Columns(c =>
            {
                c.Bound(m => m.GroupID);
                c.Bound(m => m.PersonID);
                c.Bound(m => m.FirstName); 
                c.Bound(m => m.LastName);
                c.Bound(m => m.CurrentAge);
                c.Bound(m => m.GroupMemberType);
            })
            .DataSource(dataSource => dataSource
                .Ajax()
                .PageSize(5)
                .Read(read => read.Action("HierarchyBinding_Orders", "Household", new { employeeID = "#=EmployeeID#" }))
            )
            .Pageable()
            .Sortable()
            .ToClientTemplate()
    )
</script>







<script>
    var controller = 'Household';

    function dataBound()
    {
        this.expandRow(this.tbody.find("tr.k-master-row").first());
    }
</script>


@section Scripts
{
    <script src="~/Scripts/date-time/moment.min.js"></script>
    <script src="~/Scripts/custom/pr-date.js"></script>
    <script src="~/Scripts/custom/handle-grid-btn-events.js"></script>
}










